.container
  .upper-container
    .achievement-box
    .cut-box
  .lower-container
    %ul.month-lists
      - @months.each do |month|
        %li.month-list
          = month.name
          - month.cards.each do |card|
            .card
              .card__title
                = card.title
              .card__content
                = card.content
