.container
  .upper-container
    .achievement-box
    .cut-box
  .lower-container
    %ul.month-lists
      %li.month-list
        .list
          .card
          .card
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list
        .list
      %li.month-list-last
        .list
