<div class="container">
  <div class="upper-container">
    <div class="achievement-box"></div>
    <div class="cut-box"></div>
  </div>
  <div class="lower-container">
    <ul class="month-lists">
      <li class="month-list">
        <div class="list">
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list">
        <div class="list"></div>
      </li>
      <li class="month-list-last">
        <div class="list"></div>
      </li>
    </ul>
  </div>
</div>